{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-danger mb-4">Add New Job</h2>
    
    <form action="/jobs/new" method="post" class="shadow-lg p-4 bg-light rounded">
        <div class="mb-3">
            <label for="name" class="form-label">Job Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
        </div>
        
        <div class="mb-3">
            <label for="initdate" class="form-label">Start Date</label>
            <input type="date" class="form-control" id="initdate" name="initdate" required>
        </div>
        
        <div class="mb-3">
            <label for="enddate" class="form-label">End Date</label>
            <input type="date" class="form-control" id="enddate" name="enddate" required>
        </div>
        
        <button type="submit" class="btn btn-danger btn-block">Submit</button>
    </form>
</div>
{% endblock %}
